---
title: "MadridJUG - Madrid Java User Group"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Eventos Meetup"
          url: https://www.meetup.com/madridjug/
          blank: true
          icon: fa-brands fa-meetup
        - label: "Videos en Youtube"
          url: https://www.youtube.com/MadridJUG
          blank: true
          icon: fa-brands fa-youtube
        - label: "Linkedin"
          url: https://www.linkedin.com/company/madridjug/
          blank: true
          icon: fa-brands fa-linkedin
        - label: "Mastodon"
          url: https://jvm.social/@MadridJUG
          blank: true
          icon: fa-brands fa-mastodon
        - label: "X"
          url: https://twitter.com/MadridJUG
          blank: true
          icon: fa-brands fa-x-twitter
        - label: "Open Collective"
          url: https://opencollective.com/madridjug
          blank: true
          icon: fa-solid fa-circle-dollar-to-slot

    caption: "Foto de **[Álvaro Saugar](https://twitter.com/alvaro_saugar)** realizada durante la sesión de **[Miguel R. Esteban](https://www.linkedin.com/in/miguelresteban/)** sobre **[Tipos Algebraicos en Java 21](https://www.youtube.com/watch?v=egNdxs0RpF4)**"

excerpt: "**Tu grupo de desarrolladores y entusiastas de Java y la JVM**"

comming-up-row-one:
    - header: "Java cumple 29"
      date: 23 Mayo 2024
      excerpt: "¡Únete a nosotros para celebrar el 29 aniversario Java en Madrid! Desde su creación hace casi tres décadas, Java ha sido un pilar fundamental en el mundo del desarrollo de software, impulsando la innovación y la creación de aplicaciones que han transformado nuestra forma de interactuar con la tecnología. En este evento especial, conmemoraremos el éxito de Java, tendremos a un ponente de excepción compartiendo su sabiduría. ¡No te pierdas esta oportunidad de conectar con la comunidad de usuarios y celebrar juntos este hito histórico!"
      btn-url: "https://www.meetup.com/madridjug/events/301012517/"
      btn-class: "info"
      btn-label: "Registro"
      blank: true
      image-url: "assets/images/20240523-JavaCumple29.png"
      alt-text: "Cartel anunciando el evento"
      image-width: "500px"
      image-right: true
    - header: "TDD. En serio, ¡pruébalo!"
      date: 23 Mayo 2024
      excerpt: "¿Alguna vez te has preguntado por cómo es eso de Desarrollar guiado por los Tests (TDD)? Pues, developer curioso, ¡esta sesión es para ti!.<br> 
      Prepárate para sumergirte en <strong>TDD</strong> <em>(Test Driven Development)</em> y explorar sus beneficios. Veremos los «secretos» que hay detrás de esta técnica, sus orígenes y las reglas que hay que seguir. Además compartiremos algunos consejos y trucos, y todo con una sesión de <em>live coding</em> en Java. Prepárate para mejorar tus habilidades de desarrollo con TDD: ¡más conocimiento, más ventajas y más confianza en tus aventuras al desarrollar!.<br>
      PD: Hacer las pruebas antes del código de Producción puede parecer más divertido de lo que parece. 😉"
      btn-url: "https://www.meetup.com/madridjug/events/301012517/"
      btn-class: "info"
      btn-label: "Registro"
      blank: true
      image-url: "assets/images/20240523-TDD.png"
      alt-text: "Cartel anunciando el evento"
      image-width: "500px"
      image-right: false

last-session:
    title: "Tómate la PastiLLIA Ante la fiebre de la IA y los LLM’s"
    youtube-id: Pw013ttNx_c
---

<section class="site-section alternative-color first-section" id="about-us">

    <h1>¡Bienvenid@ a la página oficial de Madrid JUG!</h1>

    <p>
    Tanto si eres nuev@ en este mundillo que rodea a la Máquina Virtual Java, como si estás curtido en las mil batallas del bytecode, has encontrado el sitio perfecto para aprender, enseñar y conocer gente interesante.
    </p>

    <h2>Nuestras reuniones presenciales</h2>

    <p>Intentamos reunirnos una o dos veces al mes bajo el formato de una charla técnica + networking.
        No tenemos un dia al fijo al mes, pero solemos planificar las sesiones Martes, Miércoles o Jueves
        a las 19h. Los encuentros se anuncian a través de 
        <a href="https://www.linkedin.com/company/madridjug/">la página de MadridJUG en LinkedIn</a>,
        <a href="https://twitter.com/MadridJUG">la cuenta de @MadridJUG en X</a>, 
        <a href="https://jvm.social/@MadridJUG">la cuenta de @MadridJUG en Mastodon</a> y
        <a href="https://www.meetup.com/madridjug/">nuestra página del MadridJUG en Meetup</a>.
        ¡Puedes seguirnos en cualquiera de nuestras redes sociales!</p>

    <p>El registro para asistir a las sesiones se realiza en la 
        <a href="https://www.meetup.com/madridjug/">página del MadridJUG en Meetup</a>.</p>

    <h2>Nuestras sesiones grabadas</h2>

    <p>Grabamos nuestras sesiones y las publicamos en <a href="https://www.youtube.com/MadridJUG">
        canal de Youtube</a>, para que puedas seguirlas en remoto o volver a revisarlas cuando lo
        necesites.</p>
    
</section>

<hr class="section-sep">
<section class="site-section" id="manifiesto">
    <h1>El Manifiesto MadridJUG</h1>

    <p>
        Creemos en <b>el valor de una comunidad donde compartir</b> conocimientos y experiencias, 
        como forma de desarrollarnos, <b>enseñando lo que sabemos y aprendiendo del resto</b>.
    </p>

    <p>
        Para ello <b>es primordial que nuestra comunidad sea abierta, participativa e invite a
        cualquiera a participar, sin importar su condición, nivel de experiencia, o cualquier 
        otra característica personal</b>. 
    </p>

    <p>
        De hecho, creemos que es importante <b>favorecer esa diversidad</b> entre asistentes y 
        seguidores, porque <b>será lo que enriquezca nuestras actividades y nuestra vida 
        como comunidad</b>.
    </p>


    <p>
        Todos los Juggers son bienvenidos. <b>Es responsabilidad y obligación de todos fomentar 
        y cuidar</b> que nuestras reuniones y canales de comunicación sean <b>espacios seguros, 
        cómodos e inviten a que cualquiera pueda aportar su punto de vista y expresarse 
        como és y se siente</b>. 
    </p>

    <p>
        Éstas son las ideas que guían nuestra forma de comportarnos y relacionarlos, para un detalle 
        más fino, y en caso de ser necesario, nos guiaremos por el https://berlincodeofconduct.org/
    </p>

</section>

<hr class="section-sep">

<section class="site-section alternative-color" id="proximas-sesiones"> 
    <h1> Nuestras próximas sesiones</h1>
    
    {% include image-text-row id="comming-up-row-one" %}

</section>


<hr class="section-sep">

{% include last-session-video id="last-session" %}
