---
title: "MadridJUG - Madrid Java User Group"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Eventos Meetup"
          url: https://www.meetup.com/madridjug/
          blank: true
          icon: fa-brands fa-meetup
        - label: "Videos en Youtube"
          url: https://www.youtube.com/MadridJUG
          blank: true
          icon: fa-brands fa-youtube
        - label: "Linkedin"
          url: https://www.linkedin.com/company/madridjug/
          blank: true
          icon: fa-brands fa-linkedin
        - label: "Mastodon"
          url: https://jvm.social/@MadridJUG
          blank: true
          icon: fa-brands fa-mastodon
        - label: "X"
          url: https://twitter.com/MadridJUG
          blank: true
          icon: fa-brands fa-x-twitter
        - label: "Open Collective"
          url: https://opencollective.com/madridjug
          blank: true
          icon: fa-solid fa-circle-dollar-to-slot

#    caption: "Photo by **[Alexandros Margo Photography](https://www.instagram.com/alexandrosmargo?igsh=eHl2cGx0amVocmJi)**"

excerpt: "**Tu grupo de desarrolladores y entusiastas de Java y la JVM**"

comming-up-row-one:
    - header: "Kotlin como si fuera Python"
      excerpt: "¿Te gustaría ejecutar código Kotlin desde la shell sin tener que compilar? ¡Ahora puedes! Y además usando cualquier librería de la JVM.
      
      Para pequeños scripts y herramientas, tradicionalmente se ha usado Python por ser interpretado y fácil de usar en la shell. Ahora Kotlin puede ejecutarse igual que Python desde la línea de comandos."
      btn-url: "https://www.meetup.com/madridjug/events/299766701/"
      btn-class: "info"
      btn-label: "Registro"
      blank: true
      image-url: "assets/images/20240409-KotlinComoSiFueraPython.webp"
      alt-text: "Cartel del evento Programando en Kotlin como si fuera Python"
      image-width: "500px"
      image-right: false

comming-up-row-two:
    - header: "Apostando por Quarkus en un proyecto real"
      excerpt: "Hace 4 años elegimos Quarkus como framework de desarrollo en Java. 
         Pero también valoramos antes distintas opciones con compilación a nativo como Helidon o Micronaut y nos decantamos por Quarkus.  (Spring se quedaba fuera porque no tenía compilación a nativo.)
      
       ¿Nos equivocamos hace 4 años?"
      btn-url: "https://www.meetup.com/madridjug/events/299766701/"
      btn-class: "info"
      btn-label: "Registro"
      blank: true
      image-url: "assets/images/20240416-QuarkusEnUnProyectoReal.webp"
      alt-text: "Cartel anunciando el evento"
      image-width: "500px"
      image-right: true
---

<section class="site-section alternative-color first-section" id="about-us">

    <h1>¡Bienvenid@ a la página oficial de Madrid JUG!</h1>

    <p>
    Tanto si eres nuev@ en este mundillo que rodea a la Máquina Virtual Java, como si estás curtido en las mil batallas del bytecode, has encontrado el sitio perfecto para aprender, enseñar y conocer gente interesante.
    </p>

    <h2>Nuestras reuniones presenciales</h2>

    <p>Intentamos reunirnos una o dos veces al mes bajo el formato de una charla técnica + networking.
        No tenemos un dia al fijo al mes, pero solemos planificar las sesiones Martes, Miércoles o Jueves
        a las 19h. Los encuentros se anuncian a través de 
        <a href="https://www.linkedin.com/company/madridjug/">la página de MadridJUG en LinkedIn</a>,
        <a href="https://twitter.com/MadridJUG">la cuenta de @MadridJUG en X</a>, 
        <a href="https://jvm.social/@MadridJUG">la cuenta de @MadridJUG en Mastodon</a> y
        <a href="https://www.meetup.com/madridjug/">nuestra página del MadridJUG en Meetup</a>.
        ¡Puedes seguirnos en cualquiera de nuestras redes sociales!</p>

    <p>El registro para asistir a las sesiones se realiza en la 
        <a href="https://www.meetup.com/madridjug/">página del MadridJUG en Meetup</a>.</p>

    <h2>Nuestras sesiones grabadas</h2>

    <p>Grabamos nuestras sesiones y las publicamos en <a href="https://www.youtube.com/MadridJUG">
        canal de Youtube</a>, para que puedas seguirlas en remoto o volver a revisarlas cuando lo
        necesites.</p>
    
</section>

<hr class="section-sep">

<section class="site-section" id="proximas-sesiones"> 
    <h1> Nuestras próximas sesiones</h1>
    
    <h3> Abril 2024</h3>

    {% include image-text-row id="comming-up-row-one" %}

    <hr>

    {% include image-text-row id="comming-up-row-two" %}

</section>


<hr class="section-sep">

<section class="site-section alternative-color" id="ultima-sesion"> 
    <h1>Nuestra última sesión</h1>

    <h2>Trabajando con ficheros Parquet en Java</h2>

    <p>Si no pudiste asistir a nuestra última sesión, o quieres volver a verla, aquí tienes la grabación.
        Si estás buscando alguna charla anterior, comprueba nuestra 
        <a href="https://www.youtube.com/playlist?list=PLjm-rnyHjKfQgjp6sGUqgWpaMv1v_XJ5z">lista de reproducción en Youtube con todas las sesiones grabadas</a>.
    </p>

    {% include video id="kdtgr8wVoaA" provider="youtube" %}

</section>