.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: rgba($primary-color, 0.05);
    flex: 1 1 calc(100% - 20px);
}

.alternative-color .box {
    background-color: rgba($background-color, 0.05);
}

.box--primary {
    border-color: $primary-color
}

.box--success {
    border-color: $success-color
}

.box--warning {
    border-color: $warning-color
}

.box--danger {
    border-color: $danger-color
}

.box--info {
    border-color: $info-color
}

@media (min-width: 768px) {
    .box-half {
        flex-basis: calc(50% - 20px);
    }

    .box-third {
        flex-basis: calc(33.33% - 20px);
    }
}
