.section-sep {
    border: 4px solid;
    border-image: linear-gradient(to right, $link-color, $primary-color, $link-color) 1;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

section.site-section {
    padding: 80px 5vw 20px 5vw;
    width: 100vw;
    margin-top: -22px;
    margin-bottom: -22px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

section.first-section {
    margin-top: -2em;
}

section.alternative-color {
    background-color: mix($background-color, $primary-color, 50%);
}