/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/ */

.hidden,
.is--hidden {
  display: none;
  visibility: hidden;
}

/* for preloading images */

.load {
  display: none;
}

.transparent {
  opacity: 0;
}

/* https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html */

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

/* screen readers */

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  clip: auto !important;
  height: auto !important;
  width: auto !important;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  background: #fff;
  z-index: 100000;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

/*
   Alignment
   ========================================================================== */

/* clearfix */

.cf {
  clear: both;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*
   Navicons
   ========================================================================== */

.navicon {
  position: relative;
  width: $navicon-width;
  height: $navicon-height;
  background: $primary-color;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: $navicon-width;
    height: $navicon-height;
    background: $primary-color;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:before {
    top: (-2 * $navicon-height);
  }

  &:after {
    bottom: (-2 * $navicon-height);
  }
}

.close .navicon {
  /* hide the middle line*/
  background: transparent;

  /* overlay the lines by setting both their top values to 0*/
  &:before,
  &:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: $navicon-width;
  }

  /* rotate the lines to form the x shape*/
  &:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  &:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

.greedy-nav__toggle {
  &:before {
    @supports (pointer-events: none) {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: $background-color;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      pointer-events: none;
    }
  }

  &.close {
    &:before {
      opacity: 0.9;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      pointer-events: auto;
    }
  }
}

.greedy-nav__toggle:hover {
  .navicon,
  .navicon:before,
  .navicon:after {
    background: mix(#000, $primary-color, 25%);
  }

  &.close {
    .navicon {
      background: transparent;
    }
  }
}

/*
   Responsive Video Embed
   ========================================================================== */

.responsive-video-container {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// full screen video fixes
:-webkit-full-screen-ancestor {
  .masthead,
  .page__footer {
    position: static;
  }
}


/*
   Rounded images
   ========================================================================== */

.round-image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.round-image-box-full {
    width: 100%;
}

.round-image-box-half {
    width: calc(50% - 20px);
}

.round-image-box-third {
    width: calc(33.33% - 20px);
}

.round-image-box {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $primary-color;
    box-sizing: border-box;
    text-align: center;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


/*
   Image-Text-Rows
   ========================================================================== */


.itr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.itr-image-container {
    margin-right: 20px;
    margin-left: 20px;
}

.itr-text {
    flex: 1;
}

.itr-image {
    max-width: 100%;
}

.itr-text p {
    margin: 0;
}

@media (max-width: 768px) {
    .itr-container {
        flex-direction: column;
    }

    .itr-image-container {
        max-width: 80vw;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        order: -1;
    }
}