<div class="page__footer-follow">

  <ul class="socials">

    <li></li>

    {% for link in site.footer.links %}
    {% if link.url %}
    <li class="socials__item">
      <a href="{{link.url}}" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="{{link.label}}">
        <i class="{{link.icon}} footer-icon" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}
    {% endfor %}

    <li class="socials__item">
      <a href="/imprint" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Imprint">
        <i class="fas fa-gavel footer-icon" aria-hidden="true"></i>
      </a>
    </li>

  </ul>

  </div>

  <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.footer.copyright | default: site.title }}. {% if site.footer.creator %} Created by <a rel="noopener noreferrer nofollow" target="_blank"href="{{site.footer.creator.url}}">{{site.footer.creator.name}}</a>{% endif %}</div>
